.header {
  position: relative;
  height: 25rem;
}

.imageIntro {
  margin-top: 2rem;
  z-index: 2;
  position: absolute;
  left: 9%;
  width: 80%;
  height: 70%;
}

.curvyContainer {
  width: 100%;
  position: absolute;
  top: 18rem;
  z-index: 1;
}

.headerTitle {
  color: white;
  font-weight: 500;
  font-size: 2rem;
  margin: 0;
  position: absolute;
  top: 25rem;
  text-align: center;
  line-height: 1.5;
  z-index: 3;
}

.infoContainer {
  background-color: #191e2a;
  height: 500px;
}

.infoContainer h4 {
  font-weight: 200;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8rem;
  line-height: 1.4;
}

.buttonStart {
  background-color: #50c5d3;
  margin: 0 auto;
  border-radius: 30px;
  width: 300px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}
